<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>QIWI charity widgets</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>

    <ul class="menu">
        <% widgets.forEach(function(widget, index) { %>
            <li>


                <% if(widget.type === 'widget'){ %>
                <a href="#<%= widget.width %><%= widget.height %><%= widget.name %><%= widget.params %>">Виджет <%= widget.name %> </a>
                <% } %>

                <% if(widget.type === 'form'){ %>
                <a href="#<%= widget.width %><%= widget.height %><%= widget.name %><%= widget.params %>">Форма <%= widget.name %> </a>
                <% } %>

            </li>
        <% }); %>
    </ul>

    <div class="widgets">

        <% widgets.forEach(function(widget, index) { %>

            <div class="widget">


                <% if(widget.type === 'widget'){ %>
                <h1 id="<%= widget.width %><%= widget.height %><%= widget.name %><%= widget.params %>">Виджет <%= widget.name %> </h1>
                <% } %>

                <% if(widget.type === 'form'){ %>
                <h1 id="<%= widget.width %><%= widget.height %><%= widget.name %><%= widget.params %>">Форма <%= widget.name %> </h1>
                <% } %>


                <% if(widget.type === 'widget'){ %>
                <h2>Локальный виджет</h2>
                <iframe width="<%= widget.width %>" height="<%= widget.height %>" src="<%= widget.link %>?<%= widget.params %>" allowtransparency="true" scrolling="no" frameborder="0"></iframe>
                <a href="<%= widget.link %>?<%= widget.params %>" target="_blank" class="widget-info__get-code-button">Открыть в отдельном окне</a>
                <h2>Виджет на тесте</h2>
                <iframe width="<%= widget.width %>" height="<%= widget.height %>" src="https://widget-test.qiwi.com/widgets/<%= widget.link %>?<%= widget.params %>" allowtransparency="true" scrolling="no" frameborder="0"></iframe>
                <a href="https://widget-test.qiwi.com/widgets/<%= widget.link %>?<%= widget.params %>" target="_blank" class="widget-info__get-code-button">Открыть в отдельном окне</a>
                <% } %>

                <% if(widget.type === 'widget'){ %>
                <h2>Код для вставки</h2>

                <div class="code"> &lt;iframe  width="<%= widget.width %>" height="<%= widget.height %>"src="<a href="https://widget-test.qiwi.com/widgets/<%= widget.link %>?<%= widget.params %>" target="_blank">https://widget-test.qiwi.com/widgets/<%= widget.link %>?<%= widget.params %></a>" allowtransparency="true" scrolling="no" frameborder="0"&gt;&lt;/iframe&gt; </div>
                <% } %>

            </div>

        <% }); %>
    </div>

</body>
</html>
