<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>QIWI charity widgets</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>

    <div class="widgets">



        <% widgets.forEach(function(widget, index) { %>

            <h1>Виджет <%= widget.name %> </h1>

            <iframe width="<%= widget.width %>" height="<%= widget.height %>" src="<%= widget.name %>?<%= widget.params %>" allowtransparency="true" scrolling="no" frameborder="0"></iframe>

            <h2>Код для вставки</h2>

            <textarea class="code" readonly="true" > <iframe  width="<%= widget.width %>" height="<%= widget.height %>"src="//widget.qiwi.com/<%= widget.name %>?<%= widget.params %>" allowtransparency="true" scrolling="no" frameborder="0"></iframe> </textarea>

        <% }); %>
    </div>

</body>
</html>